###############################################################################
## default files
###############################################################################

tmp/
cache/
**/*.iml
.~lock*
.history
.env
.idea
.vscode
*.cache
*.retry
*.pyc
*.csv
**/.DS_Store
**/.swp

# ignore tmp files
**/*.tmp.md
**/*.tmp.cfg
