#!KAMAILIO

request_route {

  $var(conn)     = TRACKER_REGISTRATION_CONN;

  xlog("$$var(conn): $var(conn)\n");

  $var(trackerurlpath) = "/batatasfritas";
  $var(httpurl)     = TRACKER_URL + $var(trackerurlpath);
  xlog("$$var(httpurl): $var(httpurl)\n");


  sl_send_reply(CODE, ENV_HOSTNAME);
}
