#!KAMAILIO

#!define CODE 200
#!defenvs ENV_HOSTNAME=HOSTNAME
#!defenv KAMA_LISTEN

listen=KAMA_LISTEN
auto_aliases=no

/*
#!define ENV_TRACKER_HTTP_HOST         "{{.TRACKER_HTTP_HOST }}"
#!define ENV_TRACKER_HTTP_PORT         "{{.TRACKER_HTTP_PORT }}"
#!define ENV_TRACKER_TIMEOUT            {{.TRACKER_TIMEOUT }}
*/

#!define ENV_TRACKER_HTTP_HOST "mytracker.com"
#!define ENV_TRACKER_HTTP_PORT "8092"

#!defexp TRACKER_URL "http://" + ENV_TRACKER_HTTP_HOST + ":" + ENV_TRACKER_HTTP_PORT + "/registrations"
#!defexp TRACKER_REGISTRATION_CONN "tracker=>" + TRACKER_URL

loadmodule "sl"
modparam("sl", "bind_tm", 0)
loadmodule "pv"
loadmodule "xlog"
loadmodule "http_client"

#modparam("http_client", "httpcon", TRACKER_REGISTRATION_CONN)


#!include_file "0.5.0-defines.inc.cfg"
