#!KAMAILIO

#!defenvs KAMA_LISTEN
listen=KAMA_LISTEN
auto_aliases=no

loadmodule "tm"
loadmodule "sl"
loadmodule "xlog"
loadmodule "pv"
loadmodule "async"
loadmodule "textops"
loadmodule "ipops"

modparam("async", "return", 0)
modparam("tm", "fr_timer", 3000)
async_workers=2
# async_nonblock=1
# async_usleep=1000000
dns_retr_time=1
dns_retr_no=1


route[DNSRELAY] {
    xlog("L_ERR", "[$ci] DNSRELAY $$du $du $$nh $nh(d) $$pp $pp $$sp $var(sp)\n");
    # $var(http_status) = http_connect("yoink", "/private/api/v1/traffic_directives", "application/json", "", "$var(anchorsite)");

    t_relay();
    exit;
}

# Initial request route.
request_route {
    $var(sp) = $sp;
    xlog("L_ERR", "[$ci] MAINROUT $$du $du $$nh $nh(d) $$pp $pp $$sp $var(sp)\n");
    append_to_reply("X-Port1: you came from port $var(sp) to $pp\n");
    if (!is_ip("$nh(d)")) {
        if (async_task_route("DNSRELAY")) {
        #if (!async_ms_route("DNSRELAY", "1000")) {
            xlog("L_ERR", "[$ci] ASYNC AA $$du $du $$nh $nh(d) $$pp $pp $$sp $var(sp)\n");
        } else {
            xlog("L_ERR", "[$ci] ASYNC BB $$du $du $$nh $nh(d) $$pp $pp $$sp $var(sp)\n");
        }
        exit;
    } else {
        xlog("L_ERR", "[$ci] NOTAHOST $$du $du $$nh $nh(d) $$pp $pp $$sp $var(sp)\n");
    }
        xlog("L_ERR", "[$ci] AFTERIF $$du $du $$nh $nh(d) $$pp $pp $$sp $var(sp)\n");
    exit;
}
