#!KAMAILIO

loadmodule "xlog"
loadmodule "pv"
loadmodule "sl"

#!define DEF "yoo"
#!defenvs TERM
#!trydefenv TRY

#!subst "/Hello/Hey/g"


request_route {
    $var(def) = DEF;
    $var(env) = TERM;


    xlog("Hello - $$var(def): DEF $var(def) | $var(env)\n");

    #!ifdef DEF
        xlog("def \n");
    #!else
        xlog("def else \n");
    #!endif

    #!ifdef TRY
        xlog("try \n");
    #!else
        xlog("try else \n");
    #!endif
    # no error if not defined

#TODO: new defines
#    #!ifexp DEF == 7
#        xlog("DEF is 7\n");
#    #!endif

    sl_send_reply(200, "OK $var(uri)");
}
