#!KAMAILIO

#!defenvs KAMA_LISTEN
listen=KAMA_LISTEN
auto_aliases=no
children=4

loadmodule "sl"
modparam("sl", "bind_tm", 0)
loadmodule "xlog"
loadmodule "pv"
loadmodule "ctl"
loadmodule "xmlops"


request_route {
    $xml(x=>doc) = '<document type="freeswitch/xml">
	<section name="directory" description="User Directory">
		<domain name="">
			<user id="marcelof1dev">
				<params>
				<param name="a1-hash" value="9169094f4b4acfb638e3c812c3a86af5"/>
				<param name="user_id" value="ffb7b6c8-ff17-4cd5-b3ad-eb49f2000074"/>
				<param name="organization_id" value=""/>
				</params>
			</user>
		</domain>
	</section>
    </document>';

    xerr("status: $xml(x=>xpath:/document/section/domain/user/params/param[@name='a1-hash']/@value)\n");


    sl_send_reply(200, "OK");
}
