#!KAMAILIO
// test cfg


# #!define ENV_FORCE_TO_DEV
# #!define ENV_DEV_FROM_USERNAMES "{{ DEV_FROM_USERNAMES }}"

# #!define ENV_IMS_DEV_FORCE_CALLS "{{ IMS_DEV_FORCE_CALLS }}"
# #!define ENV_IMS_DEV_FROM_LIST   "{{ IMS_DEV_FROM_LIST }}"

# PROXY-1523 - Route calls from specific From Usernames to dev kibp
#!define ENV_IMS_DEV_FORCE_CALLS "true"
#!define ENV_IMS_DEV_FROM_LIST "12566679174,alice"

#!defenvs KAMA_LISTEN
listen=KAMA_LISTEN
auto_aliases=no

loadmodule "sl"
modparam("sl", "bind_tm", 0)
loadmodule "xlog"
loadmodule "pv"
loadmodule "ctl"
loadmodule "textops"

# PROXY-1513 - Route calls from specific From Usernames to dev kibp
ims.dev_force_calls = ENV_IMS_DEV_FORCE_CALLS;
ims.dev_from_list = ENV_IMS_DEV_FROM_LIST;

request_route {
    xlog("Got a request $rm to $fU, cfg: |$sel(cfg_get.ims.dev_from_list)|\n");

    # PROXY-1513 - Route calls from specific From Usernames to dev kibp
    # PROXY-1523 - Changes the hardcoded number to a cfg list
    # Get the numeric part from $fU and compare it with the list
    # If it's in the list, send to KIBP dev
    if ($sel(cfg_get.ims.dev_force_calls) == "true") {
        $vn(fU) = $(fU{s.select,0,;}{s.numeric});
        if ($vn(fU) && in_list("$vn(fU)",  "$sel(cfg_get.ims.dev_from_list)", ",")) {
            xlog("L_WARN", "P1513 Force call routing from $fU to dev KIBP\n");

        } else {
            xlog("PROD\n");
        }
    }


  sl_send_reply(200, "OK");
}
