#!KAMAILIO

#!defenvs KAMA_LISTEN
listen=KAMA_LISTEN
auto_aliases=no

loadmodule "sl"
modparam("sl", "bind_tm", 0)

loadmodule "xlog"
loadmodule "pv"
loadmodule "textops"

request_route {

    # if from user is a number
    if ( $fU =~ "^\+?[[:digit:]]+$" ) {
        # if PAI username is a number, replace it the $fU
        if (subst_hf("P-ASSERTED-IDENTITY", "/(<sip:)(\+?[[:digit:]]+)(@.*)/\1$fU\3/", "a")) {
             xlog("L_ERR", "PAI: $(hdr(P-ASSERTED-IDENTITY)) username replaced with $fU\n");
        }
    }



    forward("127.0.0.1", 5060);
    sl_send_reply(200, "OK");

}

/*
Now I want to transform
asdas <sip:+442080492825@sip.pstnhub.microsoft.com;user=phone>
into
asdas <sip:var(a)@sip.pstnhub.microsoft.com;user=phone>

noting that +442080492825 may not have the +, and var(a) is the new number.


### // subst_hf("P-Asserted-Identity", "/(sip:.*)@[^>;]*/
// \1@$var(domain)/", "a");

//*/
